@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=PT+Serif+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

  body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: 'Product Sans Bold';
    src: URL('./fonts/Product\ Sans\ Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Product Sans Regular';
    src: URL('./fonts/Product\ Sans\ Regular.ttf') format('truetype');
  }

  h1{
    font-family: 'Product Sans Bold', serif;
  }

 a{
    text-decoration: none;
    font-family: "Product Sans Regular", serif;
 } 

 p{
  font-family: "Product Sans Regular", serif;
 }

 button{
  font-family: 'Product Sans Bold', serif;
 }
  
.mint-text{
font-size: 28px;
font-weight: 400;
padding: 2rem;
line-height: 37px;
font-family: inherit;
color:  rgba(36, 36, 36, 0.71);;
}

.btn-common{
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  color: rgba(36, 36, 36, 0.71);
}

.mint-count{
  color: #0F0F0F;
  font-size: 32px;
  font-weight: 700;
}

.mint{
font-weight: 400;
font-size: 20px;
line-height: 26px;
}

.mint-price{
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: rgba(36, 36, 36, 0.71);
}
.mint-sub{
  color: #0F0F0F;
}


@media screen and (max-width:475px) {
  .mint-text{
    font-size: 12px;
    padding: 1rem;
    line-height: 13.25px;
  }

  .btn-common{
    font-size: 20px;
    line-height: 26.5px;
  }

  .btn_cta{
    padding: 0.5rem 0.5rem;
  }
  .timer_desc{
    font-size: 5.65px;
    line-height: 6.16px;
  }
  .timer{
    font-size: 8px;
    line-height: 11px;
  }
}